/* You can add global styles to this file, and also import other style files */

@import "styles-btn";
@import "styles-typography";

* {
  box-sizing: border-box;
}

body {

  background: rgb(33 33 33);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @media all and (display-mode: standalone) {
    background-color: #010a32;
  }
}

p {
  margin: 0;
}

.background-color {
  background: linear-gradient(249deg, #23dc00, #007cc8);
  background-size: 360% 360%;
  animation: gradient-animation 40s ease infinite;
  width: fit-content;
  border-radius: 10px;
}
@keyframes gradient-animation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
