.applying {
  max-width: 500px;
  background: whitesmoke;
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.applying-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}
