<div>
  <section class="frame-login">

    <form [formGroup]="loginForm" autocomplete="on" (ngSubmit)="onSubmitLogin()" class="background-color card-form">
      <label class="label-input tx-xl tx-bold">Felhasználónév</label>
      <input autofocus autocomplete="on" pattern="[A-ZÁÉÍÓÖŐÚÜŰ]{1,2}[a-záéíóöőúüű]{1,10}" autocapitalize="sentences" required formControlName="name" name="tollappsUsername" class="input-text tx-lg tx-center" placeholder="Név" type="text">
      <!--<label>Jelszó</label>
      <input type="password">-->
      <button type="submit" [disabled]="!loginForm.valid" class="btn tx-white">Belépés</button>
    </form>

  </section>
</div>
